body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: aquamarine;
}

h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}