<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <div class="signup-box">
        <h2>sign up</h2>
        <form action="/register" method="post">
            <div class="user-box">
                <input type="text" autocomplete="off" name="username" id="username">
                <label for="">Username</label>
            </div>
            <div class="user-box">
                <input type="password" autocomplete="off" name="password" id="password">
                <label for="">Password</label>
            </div>
            <div class="user-box">
                <button type="submit">sign up</button>
            </div>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashed-messages">
                {% for message in messages %}
                    <li>{{ messages }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
</body>
</html>