{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" href="{% static 'my_day50app/css/instagram.css' %}">
</head>
<body>
    <div class="top">
        <h1>Instagram</h1>
        <input class="email" type="text" placeholder="Phone number, username, or email" style="height: 30px; width: 80%;">
        <input class="password" type="password" style="height: 30px; width: 80%;" placeholder="Password" >
        <button class="log" style="background-color: rgb(0, 127, 247); color: rgb(255, 255, 255); width: 83%;">
            Log in
        </button>
        <hr class="hr1" style="width: 20%; float: left;">
        <p class="or">OR</p>
        <hr class="hr2" style="width: 20%;  float: right;">
        <br>
        <img style="height: 20px; width: 20px;" class="img" src="logo.png" alt="">
        <a class="fb" href="http://www.facebook.com" target="_blank" rel="noopener noreferrer">Log in with facebook</a>
        <br>
        <a class="link" href="">Forgot password?</a>
        <br>
     
    
    </div>
    <div class="buttom">
        Don't have an account? 
        <a href="" style="color: rgb(43, 145, 228); text-decoration: none; ">Sign up</a>
    </div>
    <br>
    <div class="get">Get the app.</div>
    <br>
    <div class="image" id="n1">
        <img src="n1.jpg" alt="" style="width: 45%; float: left; height: 35px;"> 
    </div>
    <div class="image" id="n2"> 
        <img src="n2.jpg" alt="" style="width: 45%; float: right;">
    </div>

</body>
</html>